{% extends 'base.html' %}
{% block content %}


<div class="container my-3">
    <div class = "row justify-content-end my-3">
        <div class="col-5 input-group">
            <div class = "input-group-append">
                <form action="{% url 'movieapi:api_search' %}" method="GET">
                    <input type="text" name="q" placeholder="검색">
                    <input type="submit" value="검색">
                </form>
                <div>
                {% for item in items %}
                    <ul>
                        <div>{{ forloop.counter }}
                            <a href = "{{ item.link }}" target = "_self">
                                <img src = "{{item.image}}" alt="이미지가 존재하지 않습니다." width="110" height="150"/>
                            </a>
                        <p>
                        ㅁ제목 : {{ item.title|safe }} ( {{item.pubDate}} ) ㅁ감독 : {{ item.director }} ㅁ배우 :
                        {{ item.actor }} ㅁ평점 : {{ item.userRating }}
                        </div>
                    </ul>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
            $(function() {
                let y = new Date();
                y.setDate(y.getDate()-1);
                let str = y.getFullYear() + "-"
                + ("0" + (y.getMonth() + 1)).slice(-2) + "-"
                + ("0" + y.getDate()).slice(-2);
                $("#date").attr("max",str);



                //버튼의 취소 이벤트
                $("#closebtn").click(function() {
                    $("#boxoffice").empty();});

                //랜덤 영화 추천
                $("#randombtn").click(function() {
                    let ran_M = Math.floor(Math.random() * 10 + 100)
                    let ran_D = Math.floor(Math.random() * 30 + 1)
                    let r = 20200000 + ran_M + ran_D

                    let url = "http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=7b13871f343eef29d1ff0495460599b3&targetDt="+r
                    $.getJSON(url, function(data) {
                        let movieList = data.boxOfficeResult.dailyBoxOfficeList;
                        $("#boxoffice").empty();
                        for(let i in movieList){
                            $("#boxoffice").append("<div class='movie' id="+movieList[i].movieCd+">"+movieList[i].movieNm+"</div><hr>");
                            console.log(movieList[i].movieCd);
                        }
                        });
                });

                // 버튼의 클릭 이벤트
                $("#mybtn").click(function() {
                    let d = $("#date").val();//YYYY-MM-dd
                    const regex = /-/g;
                    let d_str = d.replace(regex,"")//YYYYMMdd

                    let url = "http://kobis.or.kr/kobisopenapi/webservice/rest/boxoffice/searchDailyBoxOfficeList.json?key=7b13871f343eef29d1ff0495460599b3&targetDt="+d_str

                     $.getJSON(url, function(data) {
                         let movieList = data.boxOfficeResult.dailyBoxOfficeList;
                         $("#boxoffice").empty();
                         $("#boxoffice").append(d+" 박스 오피스 순위<br>");
                         for(let i in movieList){
                             $("#boxoffice").append("<div class='movie' id="+movieList[i].movieCd+">"+(parseInt(i)+1)+". "+movieList[i].movieNm+" / "+movieList[i].audiAcc+"명</div><hr>");
                             console.log(movieList[i].movieCd);
                         }
                        });
                });//button click
                //영화 제목 클릭시 영화 정보 출력
                $("#boxoffice").on("click",".movie", function(){
                    let d = $(this);
                    let movieCd = d.attr("id");
                    let url = "http://www.kobis.or.kr/kobisopenapi/webservice/rest/movie/searchMovieInfo.json?key=7b13871f343eef29d1ff0495460599b3&movieCd="+movieCd;
                    $.getJSON(url,function(res){
                        let movie = res.movieInfoResult.movieInfo;
                        d.append("<hr>");
                        d.append("개봉일 : "+movie.openDt+"<br>");
                        d.append("감독 : "+movie.directors[0].peopleNm+"<br>");
                        d.append("주연 : "+movie.actors[0].peopleNm+", "+movie.actors[1].peopleNm+", "+movie.actors[2].peopleNm+"<br>");
                        d.append("장르 : "+movie.genres[0].genreNm+"<br>");
                        d.append("상영시간 : "+movie.showTm+"분");
                        d.append("<hr>");

                    })
                })
            });//ready
</script>
<h3>박스오피스 순위</h3>
<input type="date" id="date"><button id="mybtn">확인</button>
<button id="closebtn">취소</button>
<button id="randombtn">영화추천</button>
<div id="boxoffice">

</div>

<div>
        <table class="table">
        <thead>
        <tr class="thead-dark">
            <th>번호</th>
            <th>추천</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일시</th>
        </tr>
        </thead>

        <tbody>
        {% if review_list %}
        {% for review in review_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                {% if review.voter.all.count > 0 %}
                <span class="badge badge-warning px-2 py-1">{{ review.voter.all.count }}</span>
                {% endif %}
            </td>
            <td class="text-left">
                <a href = "{% url 'seaview:detail' review.id %}">{{ review.postname }}</a>
                {% if review.reply_set.count > 0 %}
                <span class="text-danger small ml-2">{{ review.reply_set.count }}</span>
                {% endif %}
            <td>{{ review.author.username }}</td>  <!-- 글쓴이 추가 -->
            <td>{{ review.create_date }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">리뷰가 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

<!-- 페이징처리 시작 -->
        <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if review_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ 1 }}">처음</a>
        </li>
        <li class="page-item">
            <a class="page-link" data-page="{{ review_list.previous_page_number }}" href="#">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in review_list.paginator.page_range %}
        {% if page_number >= review_list.number|add:-3 and page_number <= review_list.number|add:3 %}
            {% if page_number == review_list.number %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}

        <!-- 다음페이지 -->
        {% if review_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ review_list.next_page_number }}" href="#">다음</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="?page={{ max_page }}">마지막</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <!-- 게시판 검색 -->
    <div class="row justify-content-end my-3">
        <div class="col-4 input-group">
            <input type="text" class="form-control kw" value="{{ kw|default_if_none:'' }}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="btn_search">찾기</button>
            </div>
        </div>
    </div>

    <a href="{% url 'seaview:review_create' %}" class="btn btn-primary">글쓰기</a>

    <form id="searchForm" method="get" action="{% url 'index' %}">
        <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
        <input type="hidden" id="page" name="page" value="{{ page }}">
    </form>

</div>

{% endblock %}

<!-- 검색 스크립트 -->
{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

    $("#btn_search").on('click', function() {
        $("#kw").val($(".kw").val());
        $("#page").val(1);
        $("#searchForm").submit();
    });
});
</script>
{% endblock %}