{% extends 'base.html' %}

{% block title %} - 영화 검색 {% endblock %}

{% block content %}

<h3> 영화 검색 </h3>

<form action="{% url 'movieapi:api_search' %}" method="GET">
      <input type="text" name="q" placeholder="검색">
      <input type="submit" value="검색">
</form>
<div>
{% for item in items %}
    <ul>
        <div>{{ forloop.counter }}
            <a href = "{{ item.link }}" target = "_self">
                <img src = "{{item.image}}" alt="이미지가 존재하지 않습니다." width="110" height="150"/>
            </a>
            <p>
                 ㅁ제목 : {{ item.title|safe }} ( {{item.pubDate}} ) ㅁ감독 : {{ item.director }} ㅁ배우 :
              {{ item.actor }} ㅁ평점 : {{ item.userRating }}
        </div>
    </ul>
{% endfor %}
</div>

{% endblock %}